/* colors */
$c-primary: #2b6bec;
$c-secondary: #ff5a5f;
$c-secondary-dark: #3c64f4;
$c-dark: #000000;
$c-light: #ffffff;
$c-gray: #9b9b9b;
$c-gray-secondary: #dddddd;
$c-gray-tertiary: #f0eef2;
$c-success: #48b89c;
$c-error: #f67971;

/* radius */
$radius: (
    "xs": 0.3rem,
    "sm": 0.5rem,
    "md": 0.8rem,
    "lg": 1.2rem,
);

/* text size */
$text-size: (
    "xs": 1.2rem,
    "sm": 1.4rem,
    "md": 1.8rem,
    "lg": 2.5rem,
    "xl": 3rem,
);

/* font-weight */
$font-weight: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 600,
);

/* breakpoints */
$grid-breakpoints: (
    "xs": 0,
    "sm": 576px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "xxl": 1536px,
);

$container-max-widths: (
    "sm": 576px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "xxl": 1536px,
);

/* grid system */
$grid-columns: 12;

$grid-gaps: (
    0: 0,
    1: 1rem,
    2: 2rem,
    3: 3rem,
);
