.btn {
    min-width: 7.5rem;
    height: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.6rem 1.6rem;
    border: 0.1rem solid transparent;
    border-radius: var(--rounded-btn);
    letter-spacing: 0.02857em;
    vertical-align: middle;
    user-select: none;
    color: var(--btn-text-color, var(--c-light));
    background-color: var(--btn-color);
    box-shadow: var(--shadow);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.btn--default {
        &.btn--primary {
            --btn-color: var(--c-primary);
        }

        &.btn--secondary {
            --btn-color: var(--c-secondary);
        }

        &.btn--danger {
            --btn-color: var(--c-danger);
        }

        &.btn--success {
            --btn-color: var(--c-success);
        }

        &.btn--dark {
            --btn-color: var(--c-dark);
        }

        &:hover {
            --btn-hover-percent: 12%;
            box-shadow: var(--shadow-lg);
        }

        @supports (background-color: color-mix(in srgb, black var(--btn-hover-percent), var(--btn-color))) {
            &:hover {
                background-color: color-mix(in srgb, black var(--btn-hover-percent), var(--btn-color));
            }
        }
    }

    &.btn--outline {
        color: var(--btn-color);
        border-color: currentColor;
        background-color: transparent;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: none;

        &.btn--primary {
            --btn-color: var(--c-primary);
        }

        &.btn--secondary {
            --btn-color: var(--c-secondary);
        }

        &.btn--danger {
            --btn-color: var(--c-danger);
        }

        &.btn--success {
            --btn-color: var(--c-success);
        }

        &.btn--dark {
            --btn-color: var(--c-dark);
        }

        &:hover {
            --btn-hover-percent: 12%;
        }

        @supports (background-color: color-mix(in srgb, var(--btn-color) var(--btn-hover-percent), white 4%)) {
            &:hover {
                background-color: color-mix(in srgb, var(--btn-color) var(--btn-hover-percent), white 4%);
                border-color: color-mix(in srgb, black var(--btn-hover-percent), var(--btn-color));
            }
        }
    }

    &.btn--text {
        box-shadow: none;
        border-color: transparent;
        background-color: transparent;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &.btn--primary {
            --btn-text-color: var(--c-primary);
        }

        &.btn--secondary {
            --btn-text-color: var(--c-secondary);
        }

        &.btn--danger {
            --btn-text-color: var(--c-danger);
        }

        &.btn--success {
            --btn-text-color: var(--c-success);
        }

        &.btn--dark {
            --btn-text-color: var(--c-dark);
        }

        &:hover {
            --btn-hover-percent: 12%;
        }

        @supports (background-color: color-mix(in srgb, var(--btn-text-color) var(--btn-hover-percent), white 4%)) {
            &:hover {
                background-color: color-mix(in srgb, var(--btn-text-color) var(--btn-hover-percent), white 4%);
            }
        }
    }

    &.btn--small {
        padding: 0.4rem 1rem;
        font-size: var(--fs-sm);
    }

    &.btn--large {
        padding: 0.85rem 2.2rem;
        font-size: var(--fs-lg);
    }

    &.btn--full-width {
        width: 100%;
    }

    &.btn--disabled,
    &[disabled],
    &:disabled {
        pointer-events: none;
        --btn-color: var(--c-disabled-color) !important;
        --btn-text-color: var(--c-disabled-color) !important;
        box-shadow: none;
    }
}
