.header {
    height: 5.5rem;
    border-bottom: 0.1rem solid var(--c-gray);

    &__container {
        @include containerClass("xl");
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0.5rem 1.5rem;
    }

    @include sm {
        height: 6.3rem;
    }
}
