.header {
    height: 5.5rem;
    border-bottom: 0.1rem solid var(--c-gray);

    &--fullWidth {
        .header__container {
            @include containerFluid();
        }
    }

    &:not(.header--fullWidth) {
        .header__container {
            @include containerClass("xl");
        }
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0.5rem 1.5rem;

        &__middle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;

            @include sm {
                display: flex;
            }

            .header__create-todo-btn {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                box-shadow: none;
            }
        }

        .user-dropdown {
            display: none;

            @include sm {
                display: flex;
            }
        }
    }
}
