.modal {
    overflow-y: hidden;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    overscroll-behavior: contain;

    &::backdrop {
        background: rgba($c-dark, 0.5);
    }

    @include sm {
        align-items: flex-start;
    }

    &__box {
        --modal-width: 55rem;
        --modal-radius: var(--radius-lg);
        --padding-inline: 1.8rem;

        opacity: 0;
        overflow-y: auto;
        width: 100%;
        min-height: 22rem;
        max-height: calc(100vh - 7rem);
        border-top-left-radius: var(--modal-radius);
        border-top-right-radius: var(--modal-radius);
        background-color: var(--c-light);
        box-shadow: var(--shadow-lg);
        animation: fadeInTopModal 0.3s ease forwards;

        &.modal__box--close {
            opacity: 1;
            animation: fadeOutTopModal 0.3s ease forwards;
        }

        @include sm {
            --modal-radius: var(--radius-md);

            max-width: var(--modal-width);
            margin-top: 12rem;
            border-bottom-left-radius: var(--modal-radius);
            border-bottom-right-radius: var(--modal-radius);
        }

        @include xxl {
            margin-top: 20rem;
        }

        &.modal__box--primary {
            --close-btn-color: var(--c-primary);
            --close-btn-hover-color: var(--c-primary);
        }

        &.modal__box--secondary {
            --close-btn-color: var(--c-secondary);
            --close-btn-hover-color: var(--c-secondary);
        }

        &.modal__box--danger {
            --close-btn-color: var(--c-danger);
            --close-btn-hover-color: var(--c-danger);
        }

        &.modal__box--success {
            --close-btn-color: var(--c-success);
            --close-btn-hover-color: var(--c-success);
        }

        &.modal__box--small {
            --modal-width: 40rem;
        }

        &.modal__box--large {
            --modal-width: 76rem;
        }

        .modal__header {
            position: sticky;
            top: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-block: 1rem 1.5rem;
            padding-inline: var(--padding-inline);
            background-color: var(--c-light);

            &__title {
                @include lineclamp(1);

                font-weight: 500;
                font-size: var(--fs-lg);
            }

            &__actions {
                display: flex;
                justify-content: flex-end;
            }

            .header__actions__close__btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border: 0.1rem solid transparent;
                border-radius: 0.6rem;
                box-shadow: 0 0 1.5rem 0 #00000015;
                background-color: var(--c-light);
                transition: all 0.3s ease;

                &:hover {
                    background-color: #f5f5f5;
                    border-color: var(--close-btn-hover-color);
                }

                .close__btn__icon {
                    fill: var(--close-btn-color, currentColor);
                }
            }
        }

        .modal__body {
            overflow-y: auto;
            padding-inline: var(--padding-inline);
            padding-bottom: 1.5rem;
        }
    }

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: grid;
        align-self: stretch;
        justify-self: stretch;
        color: transparent;
    }
}

// .modal--std {
//     width: 95%;
//     margin-bottom: 0;
//     height: 75%;
//     // border-top-left-radius: map-get($radius, "md");
//     // border-top-right-radius: map-get($radius, "md");

//     @include sm {
//         width: 80%;
//         max-width: 60rem;
//         height: 40rem;
//         margin-bottom: auto;
//         // border-bottom-left-radius: map-get($radius, "md");
//         // border-bottom-right-radius: map-get($radius, "md");
//     }
// }

.modal--confirm {
    width: 30rem;
    // border-radius: map-get($radius, "md");

    &__title {
        margin-bottom: 2rem;
        // font-size: map-get($text-size, "md");
    }

    &__btn__group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }
}

.modal--edit-todo {
    .modal__body {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .edit-todo__label {
        display: flex;

        &__title,
        &__desc {
            width: 100%;
            padding: 1.3rem;
            // border-radius: map-get($radius, "md");
            // background-color: $c-gray-tertiary;
        }

        &__title {
            height: 5rem;
        }

        &__desc {
            height: 15rem;
        }
    }

    .edit-todo__bottom {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include sm {
            flex-direction: row;
            justify-content: space-between;
            gap: unset;
        }

        .edit-todo__date-container {
            display: flex;
            flex-direction: column;

            .edit-todo__date {
                // font-size: map-get($text-size, "xs");
                color: $c-gray;
            }
        }

        .edit-todo__save__btn {
            @include sm {
                width: max-content;
                height: max-content;
                margin-left: auto;
            }
        }
    }
}

.modal--create-workspace {
    .modal__body {
        min-height: 35rem;
    }
}
