.todo-list-container {
    position: relative;
    overflow-y: scroll;
    height: 25rem;

    .todo-list {
        &__item {
            position: relative;
            display: flex;
            align-items: center;
            height: 6rem;

            &.completed {
                background: #c1eec2;
            }

            &:not(:first-child) {
                border-top: 0.1rem solid $c-gray-secondary;
            }

            &:last-child {
                border-bottom: 0.1rem solid $c-gray-secondary;
            }

            &__checkbox {
                user-select: none;
                display: flex;
                align-items: center;
                height: 100%;
                padding-inline: 2rem;
                font-size: 1.5rem;
                font-weight: 300;
                border-right: 0.1rem solid $c-gray-secondary;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .todo-list__item__input {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    width: 0 !important;
                    height: 0 !important;
                    cursor: pointer;

                    &:checked ~ .todo-list__item__checkbox__checkmark {
                        background-color: $c-light;
                        border-color: #0fbf12;

                        &:before {
                            display: block;
                        }
                    }
                }

                .todo-list__item__checkbox__checkmark {
                    position: relative;
                    width: 2rem;
                    height: 2rem;
                    border: 0.1rem solid #dbdbdb;
                    border-radius: 0.3rem;

                    &:before {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 0.6rem;
                        top: 0.1rem;
                        width: 0.6rem;
                        height: 1.3rem;
                        border: solid #0fbf12;
                        border-width: 0 0.2rem 0.2rem 0;
                        transform: rotate(45deg);
                    }
                }
            }

            &__body {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                width: 100%;
                height: 100%;
                padding: 0.4rem 1rem;

                @include sm {
                    gap: unset;
                    padding: 0.8rem 1.5rem;
                }

                .body__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.3rem;
                    width: 100%;
                    height: 100%;

                    &__title {
                        font-size: map-get($text-size, "sm");
                        @include lineclamp(1);
                    }

                    &__time {
                        font-size: map-get($text-size, "xs");
                        color: $c-gray;
                    }
                }

                .todo__buttons {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;

                    @include sm {
                        gap: 1.5rem;
                    }

                    &__btn {
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                }
            }
        }
    }
}
