.user-dropdown {
    @mixin btn-hover {
        outline-color: color-mix(in srgb, var(--btn-color) 30%, white 4%);
    }

    position: relative;
    margin-left: auto;

    &--dropdown-open > &__btn {
        @include btn-hover;
    }

    &__btn {
        --btn-color: var(--c-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 3.5rem;
        height: 3.5rem;
        text-transform: uppercase;
        font-weight: var(--fw-medium);
        font-size: var(--fs-sm);
        color: var(--c-light);
        border-radius: var(--radius-full);
        background-color: var(--btn-color);
        outline: 0.45rem solid transparent;
        transition: outline 0.2s ease-in;

        &:hover {
            @include btn-hover;
            transition: outline-color 0.2s ease-out;
        }
    }

    &__dropdown {
        position: absolute;
        top: 4rem;
        right: 0;
        min-width: 16rem;
        max-width: 21rem;
        padding-block: 0.5rem;
        border-radius: var(--radius-sm);
        background-color: var(--c-light);
        box-shadow: var(--shadow);

        &__btn {
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 1.2rem 1.5rem;

            &:hover {
                background-color: color-mix(in srgb, var(--c-gray) 12%, white 4%);
            }

            .dropdown__btn__text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: left;
                font-size: var(--fs-xs);
            }
        }
    }
}
